{% extends 'ppw_app/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
		<title>{% block title %}Achievements{% endblock %}</title>
    </head>
    <body>
        {% block pagecontent %}
        {% include 'ppw_app/navbar.html' %}
<div class="container-fluid secondary-background-color">
<p style="font-size:32px">
-&nbsp;First place at Computer's Get Together, mobile division held at Fasilkom UI<br><br>
-&nbsp;Entered a prestigious university <br><br>
-&nbsp;Passed the IELTS test with an average score of 7.0 <br><br>
-&nbsp;Got 633 on the EPT test held by the University of Indonesia<br><br>
-&nbsp;Part of KMBUI XXVI, staff of OC division
</p>
</div>
{% include 'ppw_app/footer.html' %}
{% endblock %}
</body>
</html>
