{% extends 'ppw_app/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
		<title>{% block title %}Bio{% endblock %}</title>
    </head>
    <body>
        {% block pagecontent %}
        {% include 'ppw_app/navbar.html' %}

	<img src="{% static 'images/n1.jpg' %}" alt="Profile Pict" align="left" style="width:30%;margin-left:35%;margin-right:35%;">
<p style="font-size:20px">
	&nbsp;&nbsp;Name                     : <br>
	&nbsp;&nbsp;- Edrick Lainardi <br>
	&nbsp;&nbsp;Occupation           	: <br>
	&nbsp;&nbsp;- Student <br>
	&nbsp;&nbsp;Birthdate               	: <br>
	&nbsp;&nbsp;- 22 January 2000 <br>
	&nbsp;&nbsp;Hobby                    : <br>
	&nbsp;&nbsp;- Listening to songs <br>
	&nbsp;&nbsp;Motto                    : <br>
	&nbsp;&nbsp;- Live Your Life With No Regrets
</p>
<div class="container-fluid secondary-background-color bottom">
<p style="font-size:20px">
Was born in Medan, Sumatera Utara, but didn’t stay there for long,<br>
since i relocated to Pekanbaru, Riau when i was still in kindergarten. <br>
I went to a school named Education 21 during my junior school years. Then, <br>
i went to SMP and SMA Darma Yudha to continue my studies, and now here i am <br>
in the University of Indonesia, studying computer science in the faculty of <br>
computer science :)
</p>
</div>
{% include 'ppw_app/footer.html' %}
{% endblock %}
</body>
</html>
