{% extends 'ppw_app/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
		<title>{% block title %}Contact{% endblock %}</title>
    </head>
    <body>
        {% block pagecontent %}
        {% include 'ppw_app/navbar.html' %}

  <div>
  <form action="/action_page.php" class="marg">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="date">Date</label>
    <input type="date" id="date" name="datee" placeholder="Enter current date..">

	<label for="email">Email</label>
    <input type="email" id="email" name="emaill" placeholder="Enter your email..">

	<label for="subject">Subject</label>
    <input type="text" id="subject" name="subjectt" placeholder="Enter the subject..">

	<label for="textarea">TextArea</label>
    <input type="textarea" id="textarea" name="textareaa" placeholder="Enter the message..">

    <input type="submit" value="Submit">
  </form>
</div>
{% include 'ppw_app/footer.html' %}
{% endblock %}
  </body>
  </html>
