{% extends 'ppw_app/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
		<title>{% block title %}Contact{% endblock %}</title>
    </head>
    <body>
        {% block pagecontent %}
        {% include 'ppw_app/navbar.html' %}

<div class="container-fluid secondary-background-color center" style="height:auto">
<div class="row">
  <div class="column">
    <a href="https://www.facebook.com/edrick.lainardi.1"><img src="https://en.facebookbrand.com/wp-content/uploads/2016/05/flogo_rgb_hex-brc-site-250.png" alt="Facebook" style="width:80%" class="float-center"></a>
  </div>
  <div class="column">
    <a href="https://twitter.com/edricklainardi"><img src="https://seeklogo.com/images/T/twitter-2012-negative-logo-5C6C1F1521-seeklogo.com.png" alt="Twitter" style="width:80%;" class="float-center">
  </div>
  <div class="column">
    <a href="https://www.instagram.com/edricklainardi/"><img src="https://lh3.googleusercontent.com/aYbdIM1abwyVSUZLDKoE0CDZGRhlkpsaPOg9tNnBktUQYsXflwknnOn2Ge1Yr7rImGk" alt="Instagram" style="width:80%" class="float-center">
  </div>
  <div class="column">
    <a href="http://www.about.tarung2017.com/profile/#212"><img src="https://msr7.net/images/phone-logo-12.png" alt="Phone" style="width:80%;" class="float-center">
  </div>
  <div class="column">
    <a href="https://plus.google.com/u/0/104860672052762682245?tab=mX"><img src="https://mbtskoudsalg.com/images/email-logo-white-png-8.png" alt="Email" style="width:80%;" class="float-center">
  </div>
</div>
</div>
{% include 'ppw_app/footer.html' %}
{% endblock %}
</body>
</html>
