{% extends 'ppw_app/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
		<title>{% block title %}Contact{% endblock %}</title>
    </head>
    <body>
        {% block pagecontent %}
        {% include 'ppw_app/navbar.html' %}

<div class="row1">
  <div class="column1">
    <img src="{% static 'images/A1.jpg' %}"style="width:100%">
    <img src="{% static 'images/A2.jpg' %}"style="width:100%">
    <img src="{% static 'images/A3.jpg' %}"style="width:100%">
    <img src="{% static 'images/A4.jpg' %}"style="width:100%">
    <img src="{% static 'images/A5.jpg' %}"style="width:100%">
    <img src="{% static 'images/A6.jpg' %}"style="width:100%">
    <img src="{% static 'images/A7.jpg' %}"style="width:100%">
  </div>
  <div class="column1">
    <img src="{% static 'images/A8.jpg' %}"style="width:100%">
    <img src="{% static 'images/A9.jpg' %}"style="width:100%">
    <img src="{% static 'images/A10.jpg' %}"style="width:100%">
    <img src="{% static 'images/A11.jpg' %}"style="width:100%">
    <img src="{% static 'images/A12.jpg' %}"style="width:100%">
    <img src="{% static 'images/A13.jpg' %}"style="width:100%">
  </div>
  <div class="column1">
    <img src="{% static 'images/A1.jpg' %}"style="width:100%">
    <img src="{% static 'images/A2.jpg' %}"style="width:100%">
    <img src="{% static 'images/A3.jpg' %}"style="width:100%">
    <img src="{% static 'images/A4.jpg' %}"style="width:100%">
    <img src="{% static 'images/A5.jpg' %}"style="width:100%">
    <img src="{% static 'images/A6.jpg' %}"style="width:100%">
    <img src="{% static 'images/A7.jpg' %}"style="width:100%">
  </div>
  <div class="column1">
    <img src="{% static 'images/A8.jpg' %}"style="width:100%">
    <img src="{% static 'images/A9.jpg' %}"style="width:100%">
    <img src="{% static 'images/A10.jpg' %}"style="width:100%">
    <img src="{% static 'images/A11.jpg' %}"style="width:100%">
    <img src="{% static 'images/A12.jpg' %}"style="width:100%">
    <img src="{% static 'images/A13.jpg' %}"style="width:100%">
  </div>
</div>

{% include 'ppw_app/footer.html' %}
{% endblock %}
</body>
</html>
