{% extends 'ppw_app/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
		<title>{% block title %}Home{% endblock %}</title>
    </head>
    <body>
        {% block pagecontent %}
        {% include 'ppw_app/navbar.html' %}
<img src="{% static 'images/home1.jpg' %}" alt="Home Page" align="left" style="width:100%;">
<div class="container-fluid secondary-background-color">
<p style="font-size:20px">
 Welcome to my website, please enjoy looking for everything you want to know :)
 <br> <br>
This website will describe a lot about me so brace yourselves
<br> <br>
There will be my background, things i have achieved, list of my contacts and a few of my photos that has a background story to it
<br><br>
Am 18 Years old this year
<br><br>
I listen to kpop a lot
<br><br>
I frequently speak english with my friends
<br><br>
I spend most of my free time playing games
<br><br>
I am a really shy person
<br><br>
I procrastinate a lot
<br><br>
I have 1 younger brother
<br><br>
I like to listen to singlish
</p>
</div>
{% include 'ppw_app/footer.html' %}
{% endblock %}
</body>
</html>
