<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#efef51">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
<li class="nav-item">
<a class="nav-link" href="{% url 'home' %}">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'bio' %}">Bio</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'achievements' %}">Achievements</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'contact' %}">Contact</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'bukutamu' %}">Guest Book</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'schedule' %}">Susun Jadwal</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'scheduletest' %}">Jadwal</a>
</li>
</ul>
</div>
</nav>
