{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} Schedule Form {% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    {% include 'ppw_app/navbar.html' %}
    <table class="table">
        <thead>
            <th>Nama</th>
            <th>Hari</th>
            <th>Waktu</th>
            <th>Tanggal</th>
            <th>Tempat</th>
            <th>Kategori</th>
        </thead>
        <tbody>
            {% for i in schedules %}
                <td> {{i.name}} </td>
                <td> {{i.days}} </td>
                <td> {{i.time}} </td>
                <td> {{i.date}} </td>
                <td> {{i.place}} </td>
                <td> {{i.category}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{% url 'delete' %}" method="post">
        {% csrf_token %}
    <button type="submit">Delete All Schedule</button>
</form>
</body>
</html>
